body{
    overflow-x: hidden;
}
.imageDetails{
    height: 350px;
    width: 100%;
    align-items: center;
}
.playerDetails{
    display: flex;
    background-color: rgb(25, 153, 153);
    
    
}
.playerImage{
    height: 200px;
    max-width: 100%;
    /* padding-top: 10px; */
    
}
.logo{
    text-align: center;
}
.socialIcon{
    height: 30px;
    width: 30px;
    display: inline-block;
    /* background-color: rgb(197, 171, 221); */
    color: white;
    line-height: 30px;
    margin: 0 15px;
    border-radius: 50%;

}