body{
    overflow-x: hidden;
}
.imageDetails{
    height: 350px;
    width: 100%;
    align-items: center;
}
.playerDetails{
    display: flex;
    background-color: rgba(222, 17, 230, 0.904);
    
}
.singlePlayer{
    background-color: rgb(19, 33, 233);
    border-radius: 3%;
}
.playerImage{
    height: 200px;
    max-width: 100%;
}
.icon{
    text-align: center;
}
.socialIcon{
    height: 30px;
    width: 30px;
    display: inline-block;
    color: white;
    line-height: 30px;
    margin: 0 15px;
    border-radius: 50%;

}